.App {
  text-align: center;
}

body {
  font-family: 'Waterfall', cursive;
}

.App-header {
  background-color: #F4C2C2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  color: white;
}
