/* * {
  border: 1px solid black;
} */

.App {
  text-align: center;
  background-color: #F4C2C2;
}

body {
  font-family: 'Waterfall', cursive;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  height: 12vh;
  align-items: center;
}

.Container {
  background-color: #F4C2C2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 115px;
  color: white;
}

/* .Home {
} */

p {
  margin: 0;
}

.content {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 3rem;
  width: 60%;
  height: 50vh;
}

.scrollTop {
  float: right;
  border: 1px white solid;
  bottom: 0;
  right: 0;
  font-size: 12px;
  position: fixed;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.scrollTop:hover {
  font-size: 12.5px;
}

button {
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: #F4C2C2;
  margin-right: 2rem;
  margin-left: 2rem;
  border: none;
  border-bottom: 1px white solid;
  border-bottom-width: thin;
  letter-spacing: 2px;
  font-weight: bold;
  height: 7.5vh;
}

button:hover {
  opacity: 0.5;
  font-size: 18.5px;
  border: 1px white solid;
}

.Navbar {
  height: 3rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}